<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Canvas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
    <canvas class="whiteboard"></canvas>
    <div class="buttons">
        <button id="send-btn" class="btns">Recognize</button>
        <button id="clear-btn" class="btns">Clear</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
